@font-face {
  font-family: 'Forum-Regular';
  src: url('forum/Forum-Regular.otf');
}

body {
  background-color: black;
}

a {
  color: #900;
  text-decoration: none;
}

a:visited {
  color: #600;
}

a:hover {
  color: #fff;
}

.editor {
  /*position: absolute;*/
  background-color: #666;
  display: block;
  cursor: none;
  /*left: 10px;*/
  /*top: 10px;*/
}

#credits {
  position: absolute;
  z-index: 71;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: #C0BCB2;
  color: #333;
  padding: 5px;
  font-family: 'Forum-Regular', 'Times New Roman', Times, serif;
  text-align: center;
}

#credits a:hover {
  color: #d00;
}

#loader {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 11;
  font-family: 'Forum-Regular', 'Times New Roman', Times, serif;
  font-size: 24px;
  color: #222;
  background-color: rgb(201, 193, 173);
  padding: 40px 20px 10px;
}

#loader h1 , #loader p, #loader div {
  margin-bottom: 1em;
  margin-right: auto;
  margin-left: auto;
}

#loader h1 {
  text-transform: uppercase;
  text-align: left;
  margin: 0px;
  width: 400px;
  background-color: rgba(242, 233, 202, 0.85);
  border-bottom: 4px solid rgb(51, 51, 51);
  color: rgb(51, 51, 51);
  padding: 40px 0px 0px 40px;
}

#loader .wrapper {
  width: 800px;
  margin: 0 auto;
  height: 100%;
}

#loader .mansion {
  background: rgba(38, 34, 33, 1) url("../images/mansion.jpg") no-repeat scroll 0% 0% / 100% auto;
  height: 100%;
  margin: 0;
}

#loader .description {
  padding-bottom: 20px;
  margin-left: 360px;
  margin-right: 190px;
  font-size: 18px;
  background-color: rgba(242, 233, 202, 0.85);
  border-top: 5px solid black;
  border-bottom: 10px solid black;
  margin-top: 105px;
}

#loader .description p {
  padding: 0.5em 0.25em;
}

#loader .floorplan {
  border-left: 5px solid #333;
  border-bottom: 20px solid #333;
  line-height: 0;
  margin-bottom: 1em;
}

#loader .floorplan img {
  width: 100%;
}

#loader .button {
  border-radius: 5px;
  background-color: #EFE7D4;
  display: inline;
  color: #333;
  padding: 6px 20px 8px;
  cursor: pointer;
  text-transform: uppercase;
}

#loader .button:hover{
  color: white;
  background-color: gray;
}

#loader .button:active{
  color: white;
  background-color: black;
}

#loader a {
  text-decoration: none;
}

#loader .total {
  height: 5px;
  width: 50%;
  clear: both;
  border-radius: 5px;
  background-color: #333;
}

#loader #progress {
  height: 5px;
  display: block;
  border-radius: 5px;
  background-color: #fff;
}

#controls {
  position: absolute;
  bottom: 20px;
  width: 380px;
  font-family: "Input Mono Condensed", "Courier New", Courier, monospace;
  font-size: 30px;
  text-align: center;
  left: 50%;
  margin-left: -190px;
  height: 140px;
}

@media (max-width: 800px) {
  #loader .wrapper {
    width: auto;
    margin: 0 auto;
    height: 100%;
  }

  #loader h1 {
    font-size: 6vw;
    width: 60%;
  }

  #loader .description {
    padding-bottom: 20px;
    margin-left: 10%;
    margin-right: 25%;
    font-size: 24px;
    margin-top: 10%;
  }
}

#controls .button {
  width: 60px;
  height: 40px;
  background: white;
  border-radius: 5px;
  color: black;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  margin: 10px;
  padding-top: 20px;
  -webkit-user-select: none;                /* disable cut copy paste */
}

.zoom, .arrows, .export {
  float: left;
}

.zoom {
  width: 80px;
}

.arrows {
  width: 220px;
}

#controls .column {
  float: left;
  width: 70px;
}

.arrows .column:first-child, .arrows .column:last-child {
  padding-top: 35px;
}

div.button:active {
  background: gray;
  color: white;
}

div.button span {
  display: block;
  line-height: normal;
  clear: both;
  font-size: .7em;
}

.mansion {
  background-color: rgb(201, 193, 173);
  display: block;
  /*cursor: none;*/
}

#output {
  position: absolute;
  width: 200px;
  height: 700px;
  left: 1044px;
  top: 10px;
  background-color: #ccc;
  padding: 10px;
  font-family: 'Input Mono Condensed', 'Courier New', monospace;
  font-size: 12px;
}

#save {
  width: 220px;
  height: 70px;
  position: absolute;
  top: 740px;
  left: 1044px;
}
